$LightBlue: rgb(119, 131, 232);
$Blue: rgb(44, 73, 166);
$White: rgb(254, 254, 254);
$LightGray: rgb(225, 225, 225);
$Gray: rgb(119, 119, 119);
$Black: rgb(21, 21, 21);

$Alert: rgb(175, 0, 0);
$Warning: rgb(241, 156, 0);
$Success: rgb(0, 148, 0);

$LightBlueFilter: invert(59%) sepia(48%) saturate(3023%) hue-rotate(206deg)
  brightness(93%) contrast(96%);
$BlueFilter: invert(24%) sepia(22%) saturate(5902%) hue-rotate(215deg)
  brightness(90%) contrast(89%);
